h1{
    text-align: center;
    color:black;
    font-size: 55px;
    font-weight: bold;
    font-family:arial,sans-serif,bold;
}
h2{
    font-weight: bold;
    font-family:arial,sans-serif,bold;
    margin-left:140px;
    font-size:45px;
}

h3{
    font-weight: bold;
    font-family:arial,sans-serif,bold;
    margin-left:140px;
    font-size:45px;
}

div{
    border-radius:50%;
    
}
ul{
    display:inline-block;
}

.produits{
    background-color:rgb(31, 32, 33);
    color:black;
    margin-left:100px;
    background-color:white;
    font-weight:bold;
    font-family:arial,sans-serif,bold;
}   

.premiermenu{
    margin: 100px;
    display:flex;
    align-items:center;

}
.first{
    display:flex;
    align-items:center;
    font-weight: bold;
    font-family:arial,sans-serif,bold;
    padding:90px;
    margin:00px;
    padding-left:50ch;
}

.imag{
    display:flex;
    align-items:center;
    margin-left: 100px;
}

img{
    border-radius:20%;
}

.main{
    width:450px;
    margin:20px;
}

figcaption{
    margin-left:35px;
    font-size:30px;
    font-weight: bold;
    font-family:arial,sans-serif,bold;
}

nav.nav {
    display: flex;
    margin-left: 30px;
    width: 200px;
}

nav.nav li {
    display: flex center;
    color: rgb(0, 0, 0);
    float: left;
    justify-content:center;
    text-align:center;
    padding: 10px 10px;
    list-style: none;
    margin-top: 20px;
    margin-left: 30px;

}

.nav-list {
    top:0;
    position: absolute;
    list-style: none;
    margin: 0;
    font-weight: bold;
    font-family:arial,sans-serif,bold;
}

a{
color:black;
text-decoration: none;
font-size:35px;
}

@media screen and (max-width:"1100px") {
    .Utilisation {
        width: 60%;
    }
    .Benefices {
        width:60%
    }
    .Explications {
        width:60%
    }
    .top-page {
        width: 60px;
       }
